# Mining Process EDA

**Goal**: Build a digital twin of a flotation plant to predict concentrate quality (% Silica, % Iron) from process parameters.

## Step 1: Load and Inspect the Data

First thing in any ML project: understand what you're working with.
- How big is the data?
- What are the column types?
- Any missing values?

In [1]:
import pandas as pd
import numpy as np

# Load data - note the European decimal format (comma instead of dot)
df = pd.read_csv(
    '../data/raw/MiningProcess_Flotation_Plant_Database.csv',
    decimal=',',  # Handle European number format
    parse_dates=['date']
)

print(f"Shape: {df.shape[0]:,} rows x {df.shape[1]} columns")
print(f"Memory usage: {df.memory_usage(deep=True).sum() / 1e6:.1f} MB")
print(f"\nTime range: {df['date'].min()} to {df['date'].max()}")

Shape: 737,453 rows x 24 columns
Memory usage: 141.6 MB

Time range: 2017-03-10 01:00:00 to 2017-09-09 23:00:00

In [2]:
# Check data types and missing values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 737453 entries, 0 to 737452
Data columns (total 24 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   date                          737453 non-null  datetime64[ns]
 1   % Iron Feed                   737453 non-null  float64
 2   % Silica Feed                 737453 non-null  float64
 3   Starch Flow                   737453 non-null  float64
 4   Amina Flow                    737453 non-null  float64
 5   Ore Pulp Flow                 737453 non-null  float64
 6   Ore Pulp pH                   737453 non-null  float64
 7   Ore Pulp Density              737453 non-null  float64
 8   Flotation Column 01 Air Flow  737453 non-null  float64
 9   Flotation Column 02 Air Flow  737453 non-null  float64
 10  Flotation Column 03 Air Flow  737453 non-null  float64
 11  Flotation Column 04 Air Flow  737453 non-null  float64
 12  Flotation Column 05 Air Flow  737453 non-null  float64
 13  Flotation Column 06 Air Flow  737453 non-null  float64
 14  Flotation Column 07 Air Flow  737453 non-null  float64
 15  Flotation Column 01 Level     737453 non-null  float64
 16  Flotation Column 02 Level     737453 non-null  float64
 17  Flotation Column 03 Level     737453 non-null  float64
 18  Flotation Column 04 Level     737453 non-null  float64
 19  Flotation Column 05 Level     737453 non-null  float64
 20  Flotation Column 06 Level     737453 non-null  float64
 21  Flotation Column 07 Level     737453 non-null  float64
 22  % Iron Concentrate            737453 non-null  float64
 23  % Silica Concentrate          737453 non-null  float64
dtypes: datetime64[ns](1), float64(23)
memory usage: 135.0 MB

In [3]:
# First few rows
df.head()

,date,% Iron Feed,% Silica Feed,Starch Flow,Amina Flow,Ore Pulp Flow,Ore Pulp pH,Ore Pulp Density,Flotation Column 01 Air Flow,Flotation Column 02 Air Flow,...,Flotation Column 07 Air Flow,Flotation Column 01 Level,Flotation Column 02 Level,Flotation Column 03 Level,Flotation Column 04 Level,Flotation Column 05 Level,Flotation Column 06 Level,Flotation Column 07 Level,% Iron Concentrate,% Silica Concentrate
0,2017-03-10 01:00:00,55.2,16.98,3019.53,557.434,395.713,10.0664,1.74,249.214,253.235,...,250.884,457.396,432.962,424.954,443.558,502.255,446.370,523.344,66.91,1.31
1,2017-03-10 01:00:00,55.2,16.98,3024.41,563.965,397.383,10.0672,1.74,249.719,250.532,...,248.994,451.891,429.560,432.939,448.086,496.363,445.922,498.075,66.91,1.31
2,2017-03-10 01:00:00,55.2,16.98,3043.46,568.054,399.668,10.0680,1.74,249.741,247.874,...,248.071,451.240,468.927,434.610,449.688,484.411,447.826,458.567,66.91,1.31
3,2017-03-10 01:00:00,55.2,16.98,3047.36,568.665,397.939,10.0689,1.74,249.917,254.487,...,251.147,452.441,458.165,442.865,446.210,471.411,437.690,427.669,66.91,1.31
4,2017-03-10 01:00:00,55.2,16.98,3033.69,558.167,400.254,10.0697,1.74,250.203,252.136,...,248.928,452.441,452.900,450.523,453.670,462.598,443.682,425.679,66.91,1.31